<div *ngIf="askingPermission"
     style="height: 100%; width: 100%; background: black; z-index: 99999; position: absolute; display: grid; align-content: center; justify-items: center; color: white; text-align: center">
  <div>
    <h2>We'll need your location</h2>
    <br>
    <br>
    <button mat-raised-button (click)="givePermission()">Let's Go</button>
  </div>
</div>

<div *ngIf="fetchingLocation" style="height: 100%">
  <h1>fetching location</h1>
</div>

<div style="height: 100%; width: 100%; background: black; z-index: 99998; position: absolute">
  <section class="header" style="position: fixed; top: 0; height: 20px; z-index: 100">
    <button (click)="clearThoughts()">Clear my head</button>
  </section>

  <div id="mapid" style="height: 100%;
    position: absolute;
    width: 100%;
    top: 0;"></div>

  <section class="footer" style="position: fixed; bottom: 0; height: 100px; z-index: 99999">
    <app-new-thought (newThought)="newThought()"></app-new-thought>
  </section>
</div>

<div *ngIf="error" style="height: 100%">
  <h1>There was an error fetching location</h1>
  <button (click)="givePermission()">Retry</button>
</div>

<!-- for when we add routes-->
<router-outlet></router-outlet>
