<!--<section class="header" style="position: fixed; top: 0; height: 50px; z-index: 99999">-->
<!--  <button (click)="clearThoughts()">Clear my head</button>-->
<!--</section>-->

<!--<div id="mapid"></div>-->

<!--&lt;!&ndash;<section class="content">&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template [ngIf]="thoughts.length > 0">&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let thought of thoughts; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-bubble [thought]="thought"></app-bubble>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->


<!--<section class="footer" style="position: fixed; bottom: 0; height: 100px; z-index: 99999">-->
<!--  <app-new-thought (newThought)="newThought()"></app-new-thought>-->
<!--</section>-->


<!-- for when we add routes-->
<router-outlet></router-outlet>
